@use 'vuetify/settings' with (
  $body-font-family: ('Roboto', 'Noto Sans SC', 'Helvetica', 'Arial', sans-serif),
  $heading-font-family: ('Roboto', 'Noto Sans SC', 'Helvetica', 'Arial', sans-serif)
);

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: 'Roboto', 'Noto Sans SC', Helvetica, Arial, sans-serif;
}

html, body, #app {
  height: 100%;
}
