:root {
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color: #e9ecf1;
  background-color: #0e1116;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0e1116;
  color: inherit;
  font-size: 0.95rem;
}

body.is-node-picking {
  cursor: crosshair !important;
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.v-field {
  font-size: 0.8rem;
}
.v-treeview-item__level {
  width: 28px;
}

.v-treeview .v-list-item--slim > .v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
    width: 1px;
}
.v-list--slim .v-list-group {
    --prepend-width: 11px;
}

.v-list--slim .v-list-item {
    min-height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;
}